<!DOCTYPE html>
<html>
  <head>
    <%-include('./partial/head.ejs') %>
  </head>

  <body>
    <%-include('./partial/nav.ejs') %>
    <main class="flex flex-col items-center bg-white shadow-md rounded mt-3">
      <h1 class="p-5 text-3xl text-cyan-500 font-bold">ENTER YOUR MESSAGE</h1>
      <form method="post" action="/new" class="w-full max-w-sm">
        <div>
          <input
            type="text"
            name="userName"
            id="userName"
            placeholder="Enter user-name"
            class="mb-3 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          />
        </div>
        <div>
          <textarea
            name="messageArea"
            id="messageArea"
            cols="25"
            rows="10"
            placeholder="Enter your message"
            class="resize-none shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          ></textarea>
        </div>
        <div class="flex justify-center mt-5 mb-3">
          <button
            type="submit"
            class="bg-cyan-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >
            SUBMIT
          </button>
        </div>
      </form>
    </main>
  </body>
</html>
